.case {
    /*-fx-background-color: #5fa4ea;*/
    -fx-background-color:
        linear-gradient(#619bff,white),
        radial-gradient(center 50% -40%, radius 400%,#619bff 10%,#193366 50%);
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-border-color: black;
}
.caseSelection {
    -fx-background-color: #619bff;
        
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-border-color: black;
}
.caseVide {
    -fx-background-color: white;
    -fx-border-color: black;
}

.num{
    /*-fx-font-size: 30;*/
    -fx-text-fill: white;
    -fx-font: 30px "Serif";
    /*-fx-padding: 20.5 34.5 20.5 34.5;*/
    /*-fx-halignment: center;
    -fx-alignment: CENTER;*/
}
.titre{

}

.bouton{
    -fx-background-color: grey;
    -fx-border-color: black;
}